{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}
    <h1>Documents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>TokenId</th>
                <td>{{ document.tokenId }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ document.type }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ document.createAt ? document.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ document.file }}</td>
            </tr>
            <tr>
                <th>IsValid</th>
                <td>{{ document.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ document.description }}</td>
            </tr>
            <tr>
                <th>Myme</th>
                <td>{{ document.myme }}</td>
            </tr>
            <tr>
                <th>Originalname</th>
                <td>{{ document.originalname }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ document.size }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_documents_index') }}">back to list</a>

    <a href="{{ path('app_documents_edit', {'id': document.id}) }}">edit</a>

    {{ include('documents/_delete_form.html.twig') }}
{% endblock %}
