{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <img class="w-32 h-321 mr-2 invert" src="{{ asset('images/logo.png') }}" alt="logo">
        <a href="{{ path('app_main') }}" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Contenter
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Please sign in
                </h1>
    {{ form_start(form) }}
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >



            <div class="checkbox mb-3">
                <label>
                    {{ form_row(form._remember_me) }}
                </label>
            </div>
    {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
