
<div class="mb-2 rounded-lg bg-yellow-50 p-6">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <img class="mr-2 h-12 w-12 rounded-full object-cover" src="{{ asset('img/'~partic.actor.profilepic) }}" alt="{{ partic.actor.id }}-{{ partic.actor.name }}" />
            <div>
                <h3 class="text-base font-semibold text-gray-900">{{ partic.actor.name }}</h3>
                <span class="block text-xs font-normal text-gray-500">Actor</span>
            </div>
        </div>

        {#  <p class="text-sm font-medium text-indigo-500"><span class="mr-0.5">+</span>Follow</p>#}
    </div>
</div>
    <div class="flex items-end justify-end">
        {% for doc in partic.documents %}
            {{ include('documents/_badge.html.twig', { doc: doc}) }}
        {% endfor %}
    </div>
