{% extends 'base.html.twig' %}

{% block title %}Video {% endblock %}



{% block main_content %}
    <!-- Start coding here -->
    <turbo-frame id="main_content">
        <div class="relative bg-white shadow-md dark:bg-gray-800 sm:rounded-lg p-2">
            <h1 class="text-4xl m-3">Video</h1>
        </div>
        <div class="border-2 border-solid rounded-lg border-gray-100 dark:border-gray-600 h-full mb-4 p-3">
            <div class="mx-auto grid grid-cols-12 gap-4 bg-zinc-50 p-1">
                <div class="col-span-12 rounded-lg bg-gray-50 p-2 sm:col-span-8">
                    <!-- Main Content -->

                    <div class="bg-white rounded shadow-md  mx-auto mt-4 p-4">
                        <div class="text-2xl font-bold">{{ video.title }}</div>
                        <table class="table w-full">
                            <tbody>
                            <tr>

                            </tr>
                            <tr>
                                <td class="py-2 pl-6 font-medium">Create At:</td>
                                <td class="py-2">{{ video.createAt|date('d.m.Y') }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 pl-6 font-medium">Update At</td>
                                <td class="py-2">{{ video.updateAt|date('d.m.Y') }}</td>
                            </tr>
                            <tr>
                                <td class="py-2 pl-10">Status</td>
                                <td class="py-2">{{ include('video/_online-badge.html.twig', {item: video}) }}</td>
                            </tr>
                             <tr>
                                <td class="py-2 pl-10">Participants</td>
                                <td class="py-2">
                                    <div class="flex items-center -space-x-4">
                                        {% for videoActor in video.videoActors %}
                                            <div
                                                    data-controller="popover"
                                                    data-action="mouseenter->popover#show mouseleave->popover#hide"
                                                    class="relative"
                                            >
                                                <img
                                                        alt="{{ videoActor.actor.id }}-{{ videoActor.actor.name }}"
                                                        src="{{ asset('img/'~videoActor.actor.profilepic) }}"
                                                        class="relative inline-block h-12 w-12 rounded-full border-2 border-white object-cover object-center hover:z-10 focus:z-10"
                                                />
                                                <template data-popover-target="content">
                                                    <div
                                                            data-popover-target="card"
                                                            class="max-w-sm rounded shadow-lg bg-white absolute left-0 z-50"
                                                            style="bottom: 2rem; width: max-content;"
                                                    >
                                                        <turbo-frame loading="lazy" id="actor-pop-card-{{ videoActor.actor.id }}" target="_top"
                                                                     src="{{ path('app_actor_show_popcard', {
                                                                         'id': videoActor.actor.id,
                                                                     }) }}">
                                                            <div class="p-10">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="animate-spin" width="24"
                                                                     height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                    <path d="M12 3a9 9 0 1 0 9 9"></path>
                                                                </svg>
                                                            </div>
                                                        </turbo-frame>
                                                    </div>
                                                </template>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="h-full">
                        <div class="border-b-2 block md:flex">
                            <div class="w-full bg-white shadow-md">
                                {% for partic in video.videoActors %}
                                    {{ include('participant/_videocard.html.twig') }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-span-12 rounded-lg border border-gray-400 bg-gray-200 p-3 sm:col-span-4">
                    <!-- Sidebar -->
                    <div>
                        <h1>Videoplayer</h1>
                        {% if video.isverrifyted %}
                            <script src="https://cdn.jwplayer.com/players/gKXpcb4h-rlG78VZV.js"></script>
                        {% else %}
                        <p>Nicht freigegeben</p>
                        {% endif %}
                    </div>
                </div>
                {#
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
                #}
            </div>
        </div>
    </turbo-frame>
{% endblock %}
