<div {{ attributes }}>
    {{ form_start(form) }}
    <div class="grid grid-cols-2 gap-4 mb-4">
        <div
                class="rounded-lg border-gray-300 dark:border-gray-600"
        >
            {{ form_row(form.Name) }}
            {{ form_row(form.company) }}
            {{ form_row(form.country) }}
            {{ form_row(form.locality) }}
            {{ form_row(form.region) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.streetAddress) }}
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form.status) }}
        </div>
        <div
                class="rounded-lg border-gray-300 dark:border-gray-600"
        >
            {{ form_row(form.imageFile) }}
        </div>
    </div>

    <div class="flex items-center space-x-4 h-72">
        <twig:Button
                formvalidate
                variant="success"
                class="hover:animate-wiggle"
        >
            {{ button_label|default('Save') }}
        </twig:Button>
    </div>
    {{ form_end(form) }}
</div>