{% extends 'base.html.twig' %}

{% block title %}PushMessage index{% endblock %}

{% block body %}
    <h1>PushMessage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreateAt</th>
                <th>State</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for push_message in push_messages %}
            <tr>
                <td>{{ push_message.id }}</td>
                <td>{{ push_message.createAt ? push_message.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ push_message.state }}</td>
                <td>{{ push_message.description }}</td>
                <td>
                    <a href="{{ path('app_push_message_show', {'id': push_message.id}) }}">show</a>
                    <a href="{{ path('app_push_message_edit', {'id': push_message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_push_message_new') }}">Create new</a>
{% endblock %}
